* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--blue);
    border-left: 10px solid var(--blue);
    overflow: hidden;
    transition: 0.5s;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style-type: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    width: 100%;
    text-decoration: none;
    display: block;
    display: flex;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    min-height: 60px;
    min-width: 60px;
    line-height: 70px;
    display: block;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curve navigate */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    top: -60px;
    right: 0px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 37px 40px 0 10px var(--white);
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    bottom: -60px;
    right: 0px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 37px -40px 0 10px var(--white);
}

/* main */

.main {
    position: relative;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    font-size: 2.5rem;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user {
    position: relative;
    font-size: 2.5rem;
    width: 40px;
    height: 100%;
}

.user ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background-color: var(--white);
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 1.7em;
    color: var(--blue);
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1em;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 3em;
    color: var(--black2);
}

.cardBox .card:hover {
    background-color: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--white);
}

.details {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}

.details .recentOrders {
    display: grid;
    padding: 20px;
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
    border-radius: 20px;
    position: relative;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cardHeader h2 {
    color: var(--blue);
    font-weight: 500;
}

.cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    border-radius: 6px;
    color: var(--white);
}

.details .recentOrders table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.details .recentOrders table thead td {
    font-weight: 600;
}

.details .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tbody tr:hover {
    color: var(--white);
    background-color: var(--blue);
}

.details .recentOrders table tbody tr:last-child {
    border-bottom: none;
}

.details .recentOrders table tr td {
    padding: 10px 0;
}

.details .recentOrders table tr td:nth-child(2),
.details .recentOrders table tr td:nth-child(4) {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}

.status {
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    color: var(--white);
    font-weight: 500;
}

.delivered {
    background-color: #8de02c;
}

.pending {
    background-color: #f9ca3f;
}

.return {
    background-color: #f00;
}

.progress {
    background-color: #1795ce;
}

.recentCustomers {
    position: relative;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    background-color: var(--white);
    display: grid;
    grid-template-rows: min-content max-content;
}

.recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recentCustomers .imgBx ion-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table {
    border-collapse: collapse;
}

.recentCustomers table tr:hover {
    background-color: var(--blue);
    color: var(--white);
}

.recentCustomers table tr td {
    padding: 12px 10px;
}

.recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
}

.recentCustomers table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}

.recentCustomers table tr:hover {
    background-color: var(--blue);
    color: var(--white);
}

.recentCustomers table tr:hover td h4 span {
    color: var(--white);
}

/* responsive design */

@media screen and (max-width: 991px) {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        width: 300px;
        left: 0px;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 300px;
    }
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }
    .recentOrders {
        overflow-x: auto;
    }
    .status.progress {
        white-space: nowrap;
    }
}

@media screen and (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
        font-size: 20px;
    }
    .user {
        min-width: 40px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 100%;
        left: 0;
    }
    .toggle {
        z-index: 10001;
    }
    .overFlow {
        height: 100vh;
    }
    .main.active .toggle {
        color: var(--white);
        position: fixed;
    }
}
